/.metadata/
GestionHoteles/.cproject
GestionHoteles/.project
GestionHoteles/.settings/language.settings.xml
GestionHoteles/.settings/org.eclipse.cdt.managedbuilder.core.prefs
GestionHoteles/hotelesBD.sqlite
